# --- Build System & Dependencies ---
.gradle/
/build
/app/build
/app/release
.externalNativeBuild
.cxx
/.kotlin

# --- Local Configuration & Secrets ---
local.properties
*.iml
*.jks
.DS_Store

# --- IntelliJ / Android Studio (.idea) ---
/.idea
